html {
  font-family: Arial, sans-serif;
}

h1 {
  color: #333;
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

#todo-input {
  width: 300px;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-bottom: 3px solid #999;
}

#todo-input:focus {
  outline: none;
  border-bottom-color: #111;
}
#todo-submit-button {
  margin-left: 10px;
  padding: 10px 16px;
  font-size: 16px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 10px;
}

#todo-submit-button:hover {
  background-color: #111;
  cursor: pointer;
}
